/*------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------- 
------------------------------------------------SOMMAIRE------------------------------------------------
--------------------------------------------------------------------------------------------------------
                                                @General
                                                @Header
                                                @Nav
                                                @Main
                                                    @Portfolio
                                                    @Competences
                                                    @A propos
                                                    @Contact
--------------------------------------------------------------------------------------------------------                                                
------------------------------------------------------------------------------------------------------*/


/* *****************************************************************************************************
                                                @General
***************************************************************************************************** */

body {
    font-family: 'Roboto', sans-serif !important;
}

p{
    margin-bottom: 0 !important;
}

h1 {
    font-size: 80px !important;
    font-family: 'Satisfy', sans-serif;
}

h1 + p{
    font-size: 30px !important;
    font-family: 'Satisfy', sans-serif;
}

h2 {
    font-size: 60px !important;
    font-family: 'Satisfy', sans-serif;
    margin-bottom: 0 !important;
}

h2 + p{
    color: grey;
    font-size: 30px;
    font-family: 'Satisfy', sans-serif;
}

h3{
    font-size: 1rem !important;
    margin: 0 !important;
}

.div_ancre {
    height: 60px;
}

.separation {
    border-bottom: 1px solid rgba(255,255,255,.55);
}

/* *****************************************************************************************************
                                                @Header
***************************************************************************************************** */

.bg-img {
    background-image: url(../images/resize_boule_binaire.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

h1 + p {
    position: relative;
    right: 150px;
    opacity: 0;
    transition: all 2s ease-out 0.5s;
}

h1 span {
    position: relative;
    left: 150px;
    opacity: 0;
}

h1 span.m {
    transition: all 0.1s ease-out 0.5s;
}
h1 span.o {
    transition: all 0.5s ease-out 0.5s;
}
h1 span.n {
    transition: all 0.3s ease-out 0.5s;
}
h1 span.p {
    transition: all 0.7s ease-out 0.5s;
}
h1 span.o2 {
    transition: all 0.9s ease-out 0.5s;
}
h1 span.r {
    transition: all 1.5s ease-out 0.5s;
}
h1 span.t {
    transition: all 1.3s ease-out 0.5s;
}
h1 span.f {
    transition: all 1.1s ease-out 0.5s;
}
h1 span.o3 {
    transition: all 1.7s ease-out 0.5s;
}
h1 span.l {
    transition: all 1.9s ease-out 0.5s;
}
h1 span.i {
    transition: all 2.3s ease-out 0.5s;
}
h1 span.o4 {
    transition: all 2.1s ease-out 0.5s;
}


/* *****************************************************************************************************
                                                @Nav
***************************************************************************************************** */

.icon.nav-link:hover {
    color: rgba(255,255,255,.55) !important;
}

ul i {
    transition: all 0.5s ease-out;
}

ul i:hover {
    transform: rotate(180deg);
    color: rgb(0, 191, 255);
}

.nav-item-decoration {
    display: block;
    color: rgba(255,255,255,.55);
    padding: 0.5rem 1rem;
}

.nom {
    position: relative;
    padding: 0.5rem 1rem !important;
}

.nom::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 20%;
    height: 20%;
    border-top: 2px solid rgb(0, 191, 255);
    border-left: 2px solid rgb(0, 191, 255);
    transition: all 1s;
}

.nom:hover::before {
    width: 90%;
    height: 90%;
}

.nom::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 20%;
    height: 20%;
    border-bottom: 2px solid rgb(0, 191, 255);
    border-right: 2px solid rgb(0, 191, 255);
    transition: all 1s;
}

.nom:hover::after {
    width: 90%;
    height: 90%;
}

/* *****************************************************************************************************
                                                @Main
***************************************************************************************************** */
/* *****************************************************************************************************
                                                @Portfolio
***************************************************************************************************** */

.card{
    padding: 0 !important;
    height: 350px;
}

img{
    height: 50%;
    object-fit: contain;
    height: 160px;
}

.card-img, .card-img-top {
    border-radius: 0 !important;
}

/* *****************************************************************************************************
                                                @Competences
***************************************************************************************************** */

.barre_competence {     /* Barre complète */
    width: 100%;
    height: 35px;
    background-color: grey;
    border-radius: 5px;
    position: relative;
    padding: 0 !important;
    z-index: auto;
}

.barre_pourcent {       /* Barre rouge de couleur */
    position: absolute;
    height: 35px;
    border-radius: 5px;
    z-index: 1;
}

.barre_title {          /* Zone du titre de la compétence de gauche */
    position: absolute;
    width: 10%;
    height: 35px;
    border-radius: 5px;
    z-index: 2;
}

.barre_title span {     /* Block dans le titre */
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 35px;
    font-size: 15px;
}

.nbr_pourcent {         /* Zone d'écriture du pourcentage de droite */
    position: absolute;
    height: 100%;
    width: 4%;
    right: 1%;
    z-index: 2;
    text-align: center;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.5);
}

.barre_pourcent.competence_a {      /* Barre 1 || Compétence 1 */
    background-color: rgb(223, 13, 13);
    width: 10%;
    transition: 2s 0.5s;
}

.barre_pourcent.competence_b {      /* Barre 2 || Compétence 2 */
    background-color: rgb(8, 8, 226);
    width: 10%;
    transition: 2s 0.8s;
}

.barre_pourcent.competence_c {      /* Barre 3 || Compétence 3 */
    background-color: rgb(5, 124, 5);
    width: 10%;
    transition: 2s 1.1s;
}

.barre_pourcent.competence_d {      /* Barre 4 || Compétence 4 */
    background-color: rgb(165, 163, 44);
    width: 10%;
    transition: 2s 1.4s;
}
.barre_pourcent.competence_e {      /* Barre 5 || Compétence 5 */
    background-color: rgb(204, 150, 34);
    width: 10%;
    transition: 2s 1.7s;
}
.barre_pourcent.competence_f {      /* Barre 6 || Compétence 6 */
    background-color: rgb(72, 206, 211);
    width: 10%;
    transition: 2s 2s;
}
.barre_pourcent.competence_g {      /* Barre 7 || Compétence 7 */
    background-color: rgb(8, 8, 5);
    width: 10%;
    transition: 2s 2.3s;
}
.barre_pourcent.competence_h {      /* Barre 8 || Compétence 8 */
    background-color: rgb(119, 1, 99);
    width: 10%;
    transition: 2s 2.6s;
}

/* *****************************************************************************************************
                                                @A propos
***************************************************************************************************** */

.container-text-propos {
    border: 1px solid white;
    background-color: black;
}

.container-text-propos strong {
    color: white;
}

.container-text-propos span{
    color: rgba(255,255,255,.55);
}

.container-text-propos span a{
    text-decoration: none;
    color: rgb(0, 191, 255);
}

/* *****************************************************************************************************
                                                @Contact
***************************************************************************************************** */
