/*Général*/
*
{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

#bloc_page
{
    padding: 0 100px 20px 100px;
}

body
{
    background-color: rgb(48, 46, 46);
    color: rgb(185, 179, 179);
}

li
{
    list-style: none;
}

a
{
    color: rgb(185, 179, 179);
    text-decoration: none;
}

hr
{
    color: rgb(179, 168, 168);
    background-color: rgb(179, 168, 168);
    width: 40%;
}

.hr_left
{
    margin: 50px 0 50px -100px;
}

.hr_right
{
    float: right;
    margin: 50px -100px 50px 0;
}

.clear_float_hr
{
    clear: right;
}

/*Header*/

.img_header
{
    width: 100%;
    object-fit: cover;
}

h1
{
    margin-bottom: 50px;
}

#div_intro
{
    text-align: center;
    border: 2px solid rgb(179, 168, 168);
    margin: 10px 0;
    background-color: black;
    border-radius: 10px;
}

#div_intro ul
{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header a:hover
{
    color: rgb(141, 235, 238);
}

#img_dev
{
    width: 80%;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 100px;
}

/*Section*/

